/* * {
    margin: 0;
    padding: 0;
} */

a {
    text-decoration: none;
    color: black;
}

.post_box {
    width: 100%;
    max-width: 600px;
    margin: 80px 200px 0px;
    padding: 40px;
    box-shadow: 0 0 3px 0 gray;

    display: inline-block;
}

.form-floating mb-2 {
    width:200px;
    height: 40px;
}